.padder {
    display: inline;
    float: right;
    padding-left: 10px;
}

.padder2 {
    display: inline;
    float: right;
    padding-right: 20px;
}

.padder3 {
    display: inline;
    float: left;
    padding-right: 20px;
}

.logo {
  background: url("google-logo.png") no-repeat center ;
  padding: 50px;
}

.navbar {
  padding-bottom: 125px;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.country {
  text-align: center;
  padding-top: 150px;
  padding-left: 420px;
}

a {
  color:black;
  background-color:transparent;
  text-decoration:none;
  font-size: 15px;
}

a:hover   {
  background-color:transparent; text-decoration:underline
}

.button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: grey;
  font-size: 20px;
  padding-left: 50px;
}

.man {
  border-radius: 50%;
}

.bckgrd {
   padding-top: 400px;
}
